@model  IEnumerable<ProjektMVC.Data.Models.Ingredient>
@{
    ViewBag.Title = "Ingredients";
}
<h2>@ViewBag.Title.</h2>
<h3>That's our ingredients menu</h3>

<div class="row">
	@if (!Model.Any())
	{
		<h3>There are no ingredients available. Sorry for the inconvenience.</h3>
	}
	else
	{
		<ul class="list-group">
			@foreach(var ingredient in Model)
			{
				<li class="list-group-item" id="ingredient@(ingredient.IngredientId)">
					@ingredient.Name
					<span class="badge">
						@Html.ActionLink("Delete", "Ingredient", "Remove", new { @ingredientId = ingredient.IngredientId }, null)
					</span>
					@*<span class="badge">
						@Html.ActionLink("Edit", "Ingredients", "Rename", new { @id = ingredient.IngredientId }, null)
					</span>*@
				</li>
			}
		</ul>
	}
</div>