@model  IEnumerable<ProjektMVC.Data.Models.Pizza>

@{
    ViewBag.Title = "All pizzas";
    ViewBag.ShowSearchbox = true;
}

<div class="jumbotron">
    <h1>This is pizza store</h1>
    <p class="lead">Let's enjoy our PIZZA!!!</p>
</div>

<div class="row">
    @if (!Model.Any())
    {
        <h3>There are no pizzas available. Sorry for the inconvenience.</h3>
    }
    else
    {
        <ul class="list-group">
            @foreach(var pizza in Model)
            {
                <li class="list-group-item">
                    @Html.ActionLink(pizza.Name, "Pizza", "Details", new { @id = pizza.PizzaId}, null)
                    <span class="badge">
                        @pizza.Ingredients.Count
                    </span>
                </li>
            }
        </ul>
    }
</div>